:root {
    --cor-click: #126ae2;
    --cor-sombra: #0a599b;
    --cor-text: black;
    --cor-back1: #edf2f4;
    --cor-back2: #6a937a;
  
    --md-sys-color-primary: #126ae2;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-primary-container: #edf2f4;
    --md-sys-color-on-primary-container: #002020;
  
    --frequencia: #126ae2;
    --nota: #126ae2;
    --prova: #126ae2;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Arimo');
  
  body {
    margin: 0;
    background-color: var(--cor-back1);
    font-family: "Arimo", sans-serif;
    color: var(--cor-text);
  }
  
  header {
    position: relative;
    height: 35px;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #menu {
    position: absolute;
    left: 15px;
    top: 10px;
    cursor: pointer;
  }
  
  #logo {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .svg_logo {
    width: 80px;
  }
  
  .path_logo {
    fill: var(--cor-click);
  }
  
  #perfil {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  
  #mensagens,
  #componentes,
  .comp-aula {
    position: relative;
    background-color: white;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #user_name {
    display: block;
    font-size: 17pt;
  }
  
  #mns_box {
    margin-top: 5px;
  }
  
  #icon {
    width: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }
  
  #mns {
    padding: 5px;
    width: 80%;
    display: inline-block;
  }
  
  .material-symbols-outlined {
    color: var(--cor-click);
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
  
  .icoG {
    font-size: 30px;
  }
  
  .icoP {
    font-size: 18px;
  }
  
  .font {
    font-size: 11px;
  }
  
  #menu_aba {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    display: none;
    border-radius: 10px;
  }
  
  #menu_bot {
    position: relative;
    padding: 20px;
    display: block;
    cursor: pointer;
    font-size: 14pt;
    color: var(--cor-click);
    transition: 0.5s;
  }
  
  h3 {
    font-size: 14px;
    padding: 0 5px;
  }
  
  p {
    font-size: 13px;
    line-height: 1.5;
    orphans: 3;
    padding: 0 5px;
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    min-width: 100%;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .info {
    padding: 10px;
  }
  
  .icon {
    font-size: 15px;
    margin: 0 2px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  
  button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
  }
  
  #prevBtn { left: 10px; }
  #nextBtn { right: 10px; }
  
  .titulo_aula {
    font-weight: bold;
    font-size: 15px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .lables {
    display: flex;
  }
  
  .lable-prova,
  .lable-frequencia,
  .lable-nota {
    background-color: var(--prova);
    padding: 7px 15px;
    margin-bottom: 10px;
    border-radius: 500px;
    text-align: center;
    margin-right: 10px;
  }
  
  .lable-frequencia {
    background-color: var(--frequencia);
  }
  
  .lable-nota {
    background-color: var(--nota);
  }
  
  .p_lable {
    font-size: 13px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  